<!doctype html>
<html ng-app="ng-maps">
  <head>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js"></script>
    <script src="controller/ng-maps.js"></script>
    <script src="validation/geolocationValidator.js"></script>
  </head>
  <body ng-controller="PropertyListController as propertyList">
      <!-- Div to show the place list-->
    <div class="place-list" >
      <button type="button" ng-click="propertyList.addNewProperty()" id="addNewPlaceBtn">+ Add New</button>
      <table>
          <tr>
              <th>
                  Name
              </th>
              <th>
                  Address
              </th>
              <th>
                  Owner
              </th>
          </tr>
          <tr ng-repeat="property in propertyList.properties">
              <td>
                  <u ng-click="propertyList.showPropertyDetails(property);">{{property.name}}</u>
              </td>
              <td>
                  {{property.address}}
              </td>
              <td>
                  {{property.owner.name}}
              </td>
          </tr>
      </table>
    </div>
    
    <!-- Div to show the seleccted map -->
    <div id="place-details">
        <div id="place-details-left">
            <div class="details-heading">
                <h4>{{propertyList.propertyDetailName}}</h4>    
            </div>
            <div class="estate-details">
                <div class="address">
                    Address : {{propertyList.propertyDetailAddress}}
                </div>
                <div class="owner">
                    Owner :   {{propertyList.propertyDetailOwner}}
                </div> 
                <div class="Latitude">
                    Latitude :  {{propertyList.propertyDetailCoordinatesLatitude}}
                </div>
                <div class="Longitude">
                    Longitude : {{propertyList.propertyDetailCoordinatesLongitude}}
                </div> 
            </div>
            <div class="edit-details">
                <u ng-click="propertyList.editPropertyDetails();">Edit</u>
            </div>
        </div>
        <div id="map-details-right">
            <div id="map"></div>
        </div>
        <!--<div class="clear-both"></div>-->
    </div>
    
    <!-- Div to edit the property details-->
    <div class="edit-property-details" id="property-details-form">
        <form name="form" novalidate ng-submit="propertyList.addProperty()">
            <div class="property-info">
                    <div class="form-group">
                        <label for="">Title :</label>
                        <input 
                            name="name"
                            type="text"
                            ng-model="propertyList.propertyModel.name"
                            class="form-control"
                            required/>
                    </div>
                    <div ng-show="form.name.$invalid && !form.name.$pristine">Property Name Required</div>
                    <div class="form-group">
                        <label for="">Address:</label>
                        <input 
                            name="address"
                            type="text"
                            ng-model="propertyList.propertyModel.address"
                            class="form-control"
                            required/>
                    </div>
                    <div ng-show="form.address.$invalid && !form.address.$pristine">Property Address Required</div>
                    <div class="form-group">
                        <label for="">Owner:</label>
                        <input 
                            name="owner"
                            type="text" 
                            ng-model="propertyList.propertyModel.owner.name"
                            class="form-control"
                            required/>
                    </div>
                    <div ng-show="form.owner.$invalid && !form.owner.$pristine">Property Owner Required</div>
                    <div class="form-group">
                        <label for="">Latitude:</label>
                        <input 
                            type="text" 
                            name="latitude"
                            ng-model="propertyList.propertyModel.coordinates.latitude"
                            class="form-control"
                            geolocation
                            required/>
                    </div>
                    <div ng-show="form.latitude.$invalid && !form.latitude.$pristine">Property Owner Required</div>
                    <span ng-show="form.latitude.$error.geolocation">The value is not a valid geolocation!</span>
                    <div class="form-group">
                        <label for="">Longitude:</label>
                        <input 
                            type="text"
                            name="longitude"
                            ng-model="propertyList.propertyModel.coordinates.longitude"
                            class="form-control"
                            geolocation
                            required/>
                    </div>
                    <div ng-show="form.longitude.$invalid && !form.longitude.$pristine">Property Owner Required</div>
                    <span ng-show="form.longitude.$error.geolocation">The value is not a valid geolocation!</span>
            </div>
            <div class="edit-control-btn">
                <button type="button" ng-click="propertyList.btnCancel();">Cancel</button>
                <button type="submit" ng-disabled="form.$invalid">Save</button>
            </div>
        </form>
    </div>
  </body>
</html>